// Palette
$purple-white:			#7e7eb7;
$purple-lightest:		#565489;
$purple-lighter:		#504b7f;
$purple-light:			#47427c;
$purple:						#443b72;
$purple-dark:				#3f3568;
$purple-darker:			#362f5e;
$purple-darkest:		#2e2851;
$purple-black:			#211e3a;

$beige-darker:			#7f5f49;
$beige-dark:				#9b7b65;
$beige:							#b29987;
$beige-light:				#edd4be;
$beige-lighter:			#f2e8df;

//Mixins & Utility Classes
.centered {
	margin: 0 auto;
	display:block;
	position: relative;
}